@charset "UTF-8";
/* line 14, src/scss/_utilities/_extend.scss */
.main__bg img, .details__block-head img, .about__img img, .blog__media iframe,
.blog__media img,
.blog__media video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 3, src/scss/_vendor/hamburger/_base.scss */
.hamburger {
  padding: 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.35s;
       -o-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

/* line 21, src/scss/_vendor/hamburger/_base.scss */
.hamburger:hover {
  opacity: 1;
}

/* line 31, src/scss/_vendor/hamburger/_base.scss */
.hamburger-box {
  width: 24px;
  height: 18px;
  display: inline-block;
  position: relative;
}

/* line 38, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}

/* line 43, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 24px;
  height: 2px;
  background-color: #00000b;
  -webkit-border-radius: 0;
          border-radius: 0;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

/* line 56, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

/* line 62, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::before {
  top: -8px;
}

/* line 66, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::after {
  bottom: -8px;
}

/*
   * Squeeze
   */
/* line 6, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
       -o-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 10, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  -o-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

/* line 15, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 22, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
       -o-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* line 27, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  -o-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

/* line 34, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-corner:before, .icon-facebook:before, .icon-instagram:before, .icon-mail:before, .icon-quotes:before, .icon-search:before, .icon-twitter:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-corner:before {
  content: "";
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-facebook:before {
  content: "";
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-instagram:before {
  content: "";
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-mail:before {
  content: "";
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-quotes:before {
  content: "";
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-search:before {
  content: "";
}

/* line 56, src/scss/_generated/_spriteFont.scss */
.icon-twitter:before {
  content: "";
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  position: fixed;
  width: 100%;
  overflow: hidden !important;
}

/* line 14, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 20, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 34, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding-top: 74px;
}

@media screen and (max-width: 767px) {
  /* line 34, src/scss/_shared/_main-setting-reset.scss */
  body {
    padding-top: 60px;
  }
}

/* line 43, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 49, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 56, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 59, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 66, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 76, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 82, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 88, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 94, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 100, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 105, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 113, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 118, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 124, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 129, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 136, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 140, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1020px;
}

/* line 27, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 4, src/scss/_shared/_common.scss */
.copyright__text {
  font-size: 13px;
  font-weight: 300;
  color: #827a70;
}

/* line 11, src/scss/_shared/_common.scss */
.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 15, src/scss/_shared/_common.scss */
.social a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 34px;
  color: #ede9e0;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 23, src/scss/_shared/_common.scss */
.social a:hover {
  color: #00000b;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_macros/_logotype.scss */
.logo {
  position: relative;
  top: -1px;
}

/* line 7, src/scss/_macros/_logotype.scss */
.logo__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 12, src/scss/_macros/_logotype.scss */
.logo__img {
  display: block;
  max-width: 139px;
  height: 63px;
  max-height: 100%;
}

@media screen and (max-width: 767px) {
  /* line 12, src/scss/_macros/_logotype.scss */
  .logo__img {
    max-width: 114px;
    height: 52px;
  }
}

/* line 3, src/scss/_components/_header.scss */
.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0);
  background-color: #ede9e0;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  /* line 3, src/scss/_components/_header.scss */
  .header {
    top: 0 !important;
  }
}

/* line 16, src/scss/_components/_header.scss */
.header.header--fixed {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 21, src/scss/_components/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 74px;
}

@media screen and (max-width: 767px) {
  /* line 21, src/scss/_components/_header.scss */
  .header__wrapper {
    height: 60px;
  }
}

/* line 30, src/scss/_components/_header.scss */
.header__wrapper-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  /* line 30, src/scss/_components/_header.scss */
  .header__wrapper-left {
    width: 100%;
  }
}

/* line 39, src/scss/_components/_header.scss */
.header__wrapper-left > div:nth-of-type(2) {
  display: none;
}

@media screen and (max-width: 767px) {
  /* line 39, src/scss/_components/_header.scss */
  .header__wrapper-left > div:nth-of-type(2) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

/* line 50, src/scss/_components/_header.scss */
.header__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  /* line 50, src/scss/_components/_header.scss */
  .header__wrapper-right {
    z-index: 1199;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    position: fixed;
    top: 60px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #d0cece;
    background-color: #ede9e0;
  }
  /* line 71, src/scss/_components/_header.scss */
  .header__wrapper-right.is-animated {
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
  }
  /* line 75, src/scss/_components/_header.scss */
  .header__wrapper-right.is-open {
    opacity: 1;
    visibility: visible;
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
  }
}

/* line 85, src/scss/_components/_header.scss */
.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 60px;
}

@media screen and (max-width: 767px) {
  /* line 85, src/scss/_components/_header.scss */
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
  }
}

/* line 96, src/scss/_components/_header.scss */
.header__nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 74px;
  padding-left: 20px;
  padding-right: 20px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  /* line 96, src/scss/_components/_header.scss */
  .header__nav-link {
    width: 100%;
    height: 52px;
    font-size: 22px;
  }
}

/* line 113, src/scss/_components/_header.scss */
.header__nav-link.is-active, .header__nav-link:hover {
  color: #967d60;
  background-color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 122, src/scss/_components/_header.scss */
.header__action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 126, src/scss/_components/_header.scss */
.header__action-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 132, src/scss/_components/_header.scss */
.header__action-btn:hover .icon-font {
  color: #967d60;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 138, src/scss/_components/_header.scss */
.header__action-btn:not(:last-of-type) {
  margin-right: 23px;
}

/* line 142, src/scss/_components/_header.scss */
.header__action-btn .icon-font {
  color: #382713;
  font-size: 18px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 147, src/scss/_components/_header.scss */
.header__action-btn .icon-font.icon-mail {
  font-size: 20px;
}

/* line 154, src/scss/_components/_header.scss */
.header__search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 27px;
}

/* line 160, src/scss/_components/_header.scss */
.header__search .icon-font {
  color: #00000b;
  font-size: 24px;
}

/* line 166, src/scss/_components/_header.scss */
.header__copyright {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  /* line 166, src/scss/_components/_header.scss */
  .header__copyright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

/* line 176, src/scss/_components/_header.scss */
.header__copyright .copyright {
  width: 100%;
  text-align: center;
}

/* line 180, src/scss/_components/_header.scss */
.header__copyright .copyright__text {
  font-size: 11px;
  color: #666666;
}

/* line 3, src/scss/_components/_footer.scss */
.footer {
  border: 1px solid #d0cece;
  background-color: #ede9e0;
}

/* line 7, src/scss/_components/_footer.scss */
.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 73px;
}

@media screen and (max-width: 767px) {
  /* line 7, src/scss/_components/_footer.scss */
  .footer__wrapper {
    height: 60px;
  }
}

/* line 16, src/scss/_components/_footer.scss */
.footer__wrapper-left, .footer__wrapper-right {
  width: 150px;
}

@media screen and (max-width: 767px) {
  /* line 16, src/scss/_components/_footer.scss */
  .footer__wrapper-left, .footer__wrapper-right {
    display: none !important;
  }
}

/* line 24, src/scss/_components/_footer.scss */
.footer__wrapper-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 32, src/scss/_components/_footer.scss */
.footer__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 38, src/scss/_components/_footer.scss */
.footer__copyright {
  position: relative;
  left: -10px;
  display: none;
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  /* line 38, src/scss/_components/_footer.scss */
  .footer__copyright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

/* line 50, src/scss/_components/_footer.scss */
.footer__copyright .copyright {
  width: 100%;
  text-align: center;
}

/* line 3, src/scss/_components/homepage/_main.scss */
.main {
  position: relative;
  background-image: url("../img/img-main-bg@2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 10, src/scss/_components/homepage/_main.scss */
.main__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

/* line 19, src/scss/_components/homepage/_main.scss */
.main__bg img {
  opacity: 0.95;
}

/* line 25, src/scss/_components/homepage/_main.scss */
.main__wrapper {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
}

@media screen and (max-width: 1365px) {
  /* line 25, src/scss/_components/homepage/_main.scss */
  .main__wrapper {
    height: 550px;
  }
}

@media screen and (max-width: 1024px) {
  /* line 25, src/scss/_components/homepage/_main.scss */
  .main__wrapper {
    height: 508px;
  }
}

/* line 40, src/scss/_components/homepage/_main.scss */
.main__title {
  text-align: center;
  font-size: 48px;
  font-family: "Merriweather", sans-serif;
  color: white;
}

@media screen and (max-width: 1365px) {
  /* line 40, src/scss/_components/homepage/_main.scss */
  .main__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 767px) {
  /* line 40, src/scss/_components/homepage/_main.scss */
  .main__title {
    font-size: 30px;
  }
}

/* line 3, src/scss/_components/homepage/_details.scss */
.details {
  padding-top: 60px;
  padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
  /* line 3, src/scss/_components/homepage/_details.scss */
  .details {
    padding-top: 20px;
  }
}

/* line 10, src/scss/_components/homepage/_details.scss */
.details__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 17, src/scss/_components/homepage/_details.scss */
.details__block:hover .details__block-head img {
  -webkit-transform: scale(1.05) rotate(2deg);
      -ms-transform: scale(1.05) rotate(2deg);
          transform: scale(1.05) rotate(2deg);
  -webkit-transition: -webkit-transform 0.55s ease-in-out;
  transition: -webkit-transform 0.55s ease-in-out;
  -o-transition: transform 0.55s ease-in-out;
  transition: transform 0.55s ease-in-out;
  transition: transform 0.55s ease-in-out, -webkit-transform 0.55s ease-in-out;
}

/* line 24, src/scss/_components/homepage/_details.scss */
.details__block:hover .details__block-line:after {
  width: 33%;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/* line 32, src/scss/_components/homepage/_details.scss */
.details__block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 37, src/scss/_components/homepage/_details.scss */
.details__block-wrapper > div {
  width: 100%;
  max-width: -webkit-calc((100% - 20px) / 2);
  max-width: calc((100% - 20px) / 2);
  padding-bottom: 33px;
}

@media screen and (max-width: 767px) {
  /* line 37, src/scss/_components/homepage/_details.scss */
  .details__block-wrapper > div {
    max-width: 100%;
    padding-bottom: 30px;
  }
}

/* line 48, src/scss/_components/homepage/_details.scss */
.details__block-head {
  overflow: hidden;
  position: relative;
  height: 344px;
}

@media screen and (max-width: 1024px) {
  /* line 48, src/scss/_components/homepage/_details.scss */
  .details__block-head {
    height: 275px;
  }
}

@media screen and (max-width: 767px) {
  /* line 48, src/scss/_components/homepage/_details.scss */
  .details__block-head {
    height: 211px;
  }
}

/* line 59, src/scss/_components/homepage/_details.scss */
.details__block-head img {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.55s ease-in-out;
  transition: -webkit-transform 0.55s ease-in-out;
  -o-transition: transform 0.55s ease-in-out;
  transition: transform 0.55s ease-in-out;
  transition: transform 0.55s ease-in-out, -webkit-transform 0.55s ease-in-out;
}

/* line 67, src/scss/_components/homepage/_details.scss */
.details__block-body {
  padding-top: 23px;
}

@media screen and (max-width: 767px) {
  /* line 67, src/scss/_components/homepage/_details.scss */
  .details__block-body {
    padding-top: 15px;
  }
}

/* line 74, src/scss/_components/homepage/_details.scss */
.details__block-date {
  padding-bottom: 15px;
  font-weight: 300;
  font-size: 13px;
  color: #827a70;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  /* line 74, src/scss/_components/homepage/_details.scss */
  .details__block-date {
    padding-bottom: 10px;
  }
}

/* line 85, src/scss/_components/homepage/_details.scss */
.details__block-title {
  padding-bottom: 15px;
  color: #00000b;
  font-size: 28px;
  font-weight: 300;
  font-family: "Merriweather", sans-serif;
}

@media screen and (max-width: 1365px) {
  /* line 85, src/scss/_components/homepage/_details.scss */
  .details__block-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  /* line 85, src/scss/_components/homepage/_details.scss */
  .details__block-title {
    font-size: 20px;
  }
}

/* line 99, src/scss/_components/homepage/_details.scss */
.details__block-desc {
  padding-bottom: 30px;
  color: #252525;
  font-size: 15px;
  font-weight: 300;
}

/* line 106, src/scss/_components/homepage/_details.scss */
.details__block-line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #d0cece;
}

/* line 112, src/scss/_components/homepage/_details.scss */
.details__block-line:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 38px;
  height: 2px;
  background-color: #412d12;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/* line 125, src/scss/_components/homepage/_details.scss */
.details__pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 130, src/scss/_components/homepage/_details.scss */
.details__pagination-left, .details__pagination-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 250px;
}

@media screen and (max-width: 767px) {
  /* line 130, src/scss/_components/homepage/_details.scss */
  .details__pagination-left, .details__pagination-right {
    max-width: 85px;
  }
}

/* line 141, src/scss/_components/homepage/_details.scss */
.details__pagination-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 149, src/scss/_components/homepage/_details.scss */
.details__pagination-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 154, src/scss/_components/homepage/_details.scss */
.details__pagination-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 158, src/scss/_components/homepage/_details.scss */
.details__pagination-btn--num {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  margin-left: 2px;
  margin-right: 2px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 172, src/scss/_components/homepage/_details.scss */
.details__pagination-btn--num:hover span {
  color: #8e7657;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 178, src/scss/_components/homepage/_details.scss */
.details__pagination-btn--num.is-active {
  background-color: #ede8e0;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 182, src/scss/_components/homepage/_details.scss */
.details__pagination-btn--num.is-active span {
  color: #8e7657;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  /* line 194, src/scss/_components/homepage/_details.scss */
  .details__pagination-btn--first span, .details__pagination-btn--last span, .details__pagination-btn--next span, .details__pagination-btn--prev span {
    display: none;
  }
}

/* line 199, src/scss/_components/homepage/_details.scss */
.details__pagination-btn--first .icon-font, .details__pagination-btn--last .icon-font, .details__pagination-btn--next .icon-font, .details__pagination-btn--prev .icon-font {
  color: #00000b;
  font-size: 12px;
}

/* line 204, src/scss/_components/homepage/_details.scss */
.details__pagination-btn--first.is-disabled, .details__pagination-btn--last.is-disabled, .details__pagination-btn--next.is-disabled, .details__pagination-btn--prev.is-disabled {
  pointer-events: none;
}

/* line 207, src/scss/_components/homepage/_details.scss */
.details__pagination-btn--first.is-disabled span,
.details__pagination-btn--first.is-disabled .icon-font, .details__pagination-btn--last.is-disabled span,
.details__pagination-btn--last.is-disabled .icon-font, .details__pagination-btn--next.is-disabled span,
.details__pagination-btn--next.is-disabled .icon-font, .details__pagination-btn--prev.is-disabled span,
.details__pagination-btn--prev.is-disabled .icon-font {
  color: #827a70;
}

/* line 216, src/scss/_components/homepage/_details.scss */
.details__pagination-btn--first .icon-font, .details__pagination-btn--prev .icon-font {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

/* line 221, src/scss/_components/homepage/_details.scss */
.details__pagination-btn--first {
  margin-right: 20px;
}

/* line 225, src/scss/_components/homepage/_details.scss */
.details__pagination-btn--first .icon-font:nth-of-type(2) {
  position: relative;
  left: -7px;
}

/* line 232, src/scss/_components/homepage/_details.scss */
.details__pagination-btn--last {
  margin-left: 20px;
}

/* line 236, src/scss/_components/homepage/_details.scss */
.details__pagination-btn--last .icon-font:nth-of-type(1) {
  position: relative;
  right: -7px;
}

/* line 244, src/scss/_components/homepage/_details.scss */
.details__pagination-btn--next .icon-font {
  margin-left: 5px;
}

/* line 250, src/scss/_components/homepage/_details.scss */
.details__pagination-btn--prev .icon-font {
  margin-right: 5px;
}

/* line 255, src/scss/_components/homepage/_details.scss */
.details__pagination-btn span {
  color: #00000b;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 3, src/scss/_components/about/_about.scss */
.about {
  padding-top: 55px;
  padding-bottom: 112px;
}

@media screen and (max-width: 1023px) {
  /* line 3, src/scss/_components/about/_about.scss */
  .about {
    padding-bottom: 92px;
  }
}

@media screen and (max-width: 767px) {
  /* line 3, src/scss/_components/about/_about.scss */
  .about {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

/* line 14, src/scss/_components/about/_about.scss */
.about__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 1023px) {
  /* line 14, src/scss/_components/about/_about.scss */
  .about__wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

/* line 21, src/scss/_components/about/_about.scss */
.about__wrapper-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-right: 74px;
}

@media screen and (max-width: 1365px) {
  /* line 21, src/scss/_components/about/_about.scss */
  .about__wrapper-left {
    padding-right: 54px;
  }
}

@media screen and (max-width: 1279px) {
  /* line 21, src/scss/_components/about/_about.scss */
  .about__wrapper-left {
    padding-right: 34px;
  }
}

@media screen and (max-width: 1023px) {
  /* line 21, src/scss/_components/about/_about.scss */
  .about__wrapper-left {
    padding-right: 0;
  }
}

/* line 37, src/scss/_components/about/_about.scss */
.about__wrapper-right {
  width: 100%;
  max-width: 351px;
}

@media screen and (max-width: 1023px) {
  /* line 37, src/scss/_components/about/_about.scss */
  .about__wrapper-right {
    max-width: 100%;
  }
}

/* line 45, src/scss/_components/about/_about.scss */
.about__wrapper-right {
  padding-top: 93px;
}

@media screen and (max-width: 1279px) {
  /* line 45, src/scss/_components/about/_about.scss */
  .about__wrapper-right {
    padding-top: 50px;
  }
}

@media screen and (max-width: 1023px) {
  /* line 45, src/scss/_components/about/_about.scss */
  .about__wrapper-right {
    padding-top: 30px;
  }
}

/* line 56, src/scss/_components/about/_about.scss */
.about__title {
  padding-bottom: 42px;
  color: #00000b;
  font-family: 'Merriweather', sans-serif;
  font-size: 36px;
}

@media screen and (max-width: 1365px) {
  /* line 56, src/scss/_components/about/_about.scss */
  .about__title {
    font-size: 33px;
  }
}

@media screen and (max-width: 767px) {
  /* line 56, src/scss/_components/about/_about.scss */
  .about__title {
    padding-bottom: 40px;
    font-size: 28px;
  }
}

/* line 70, src/scss/_components/about/_about.scss */
.about__subtitle {
  padding-bottom: 17px;
  color: #00000b;
  font-family: 'Merriweather', sans-serif;
  font-size: 28px;
}

@media screen and (max-width: 1023px) {
  /* line 70, src/scss/_components/about/_about.scss */
  .about__subtitle {
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  /* line 70, src/scss/_components/about/_about.scss */
  .about__subtitle {
    font-size: 20px;
  }
}

/* line 83, src/scss/_components/about/_about.scss */
.about__desc {
  padding-bottom: 42px;
  color: #252525;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
}

/* line 91, src/scss/_components/about/_about.scss */
.about__line {
  position: relative;
  width: 100%;
  height: 1px;
  margin-bottom: 38px;
  background-color: #d0cece;
}

/* line 98, src/scss/_components/about/_about.scss */
.about__line:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #412d12;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/* line 111, src/scss/_components/about/_about.scss */
.about__details img {
  float: left;
  width: 220px;
  margin-right: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1279px) {
  /* line 111, src/scss/_components/about/_about.scss */
  .about__details img {
    width: 190px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  /* line 111, src/scss/_components/about/_about.scss */
  .about__details img {
    float: none;
    display: block;
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-height: 100%;
  }
}

/* line 131, src/scss/_components/about/_about.scss */
.about__details-text {
  display: inline;
}

@media screen and (max-width: 767px) {
  /* line 131, src/scss/_components/about/_about.scss */
  .about__details-text {
    display: block;
  }
}

/* line 137, src/scss/_components/about/_about.scss */
.about__details-text p {
  padding-bottom: 20px;
  color: #252525;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.6;
}

/* line 144, src/scss/_components/about/_about.scss */
.about__details-text p strong {
  font-weight: 400;
}

/* line 151, src/scss/_components/about/_about.scss */
.about__img {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 344px;
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  /* line 151, src/scss/_components/about/_about.scss */
  .about__img {
    height: 211px;
  }
}

/* line 166, src/scss/_components/about/_about.scss */
.about__desc {
  padding-bottom: 29px;
  font-weight: 300;
  font-size: 17px;
  color: #252525;
}

/* line 173, src/scss/_components/about/_about.scss */
.about__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Merriweather', sans-serif;
}

/* line 178, src/scss/_components/about/_about.scss */
.about__form-field {
  position: relative;
  padding-bottom: 10px;
}

/* line 183, src/scss/_components/about/_about.scss */
.about__form-field.is-focus input,
.about__form-field.is-focus textarea {
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 189, src/scss/_components/about/_about.scss */
.about__form-field.is-focus .about__form-label {
  -webkit-transform: scale(0.7) translateY(-40%);
      -ms-transform: scale(0.7) translateY(-40%);
          transform: scale(0.7) translateY(-40%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 195, src/scss/_components/about/_about.scss */
.about__form-field input,
.about__form-field textarea {
  outline: none;
  position: relative;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-style: solid;
  border-width: 1px;
  border-color: #d0cece;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #ede9e0;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 208, src/scss/_components/about/_about.scss */
.about__form-field input:focus,
.about__form-field textarea:focus {
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 214, src/scss/_components/about/_about.scss */
.about__form-field input {
  height: 56px;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  /* line 214, src/scss/_components/about/_about.scss */
  .about__form-field input {
    height: 46px;
  }
}

/* line 222, src/scss/_components/about/_about.scss */
.about__form-field textarea {
  resize: none;
  height: 104px;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  /* line 222, src/scss/_components/about/_about.scss */
  .about__form-field textarea {
    height: 100px;
  }
}

/* line 232, src/scss/_components/about/_about.scss */
.about__form-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  padding: 0 20px;
  line-height: 56px;
  font-size: 13px;
  font-weight: 300;
  color: #827a70;
  -webkit-transform-origin: 20px center;
      -ms-transform-origin: 20px center;
          transform-origin: 20px center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  /* line 232, src/scss/_components/about/_about.scss */
  .about__form-label {
    height: 52px;
  }
}

/* line 251, src/scss/_components/about/_about.scss */
.about__form-btn {
  outline: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 52px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #412d12;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 265, src/scss/_components/about/_about.scss */
.about__form-btn:hover {
  background-color: #00000b;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 270, src/scss/_components/about/_about.scss */
.about__form-btn span {
  font-size: 22px;
  color: white;
  line-height: 1.545;
}

@media screen and (max-width: 1023px) {
  /* line 270, src/scss/_components/about/_about.scss */
  .about__form-btn span {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  /* line 270, src/scss/_components/about/_about.scss */
  .about__form-btn span {
    font-size: 18px;
  }
}

/* line 3, src/scss/_components/blog/_blog.scss */
.blog {
  padding-top: 40px;
  padding-bottom: 70px;
  font-family: 'Verdana', sans-serif;
}

@media screen and (max-width: 767px) {
  /* line 3, src/scss/_components/blog/_blog.scss */
  .blog {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

/* line 12, src/scss/_components/blog/_blog.scss */
.blog .c-grid {
  max-width: 1280px;
}

/* line 16, src/scss/_components/blog/_blog.scss */
.blog__back {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}

/* line 21, src/scss/_components/blog/_blog.scss */
.blog__back .icon-font {
  color: #00000b;
  margin-right: 5px;
  -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
          transform: scale(-1);
  font-size: 12px;
}

/* line 28, src/scss/_components/blog/_blog.scss */
.blog__back span {
  color: #00000b;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
}

/* line 36, src/scss/_components/blog/_blog.scss */
.blog__img {
  margin-bottom: 40px;
}

/* line 47, src/scss/_components/blog/_blog.scss */
.blog__img img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 58, src/scss/_components/blog/_blog.scss */
.blog__title {
  padding-bottom: 22px;
  font-weight: 300;
  font-size: 36px;
  font-family: 'Merriweather', sans-serif;
  color: #00000b;
}

@media screen and (max-width: 1365px) {
  /* line 58, src/scss/_components/blog/_blog.scss */
  .blog__title {
    font-size: 33px;
  }
}

@media screen and (max-width: 767px) {
  /* line 58, src/scss/_components/blog/_blog.scss */
  .blog__title {
    font-size: 28px;
  }
}

/* line 72, src/scss/_components/blog/_blog.scss */
.blog__subtitle {
  padding-bottom: 16px;
  font-weight: 300;
  font-size: 26px;
  font-family: 'Merriweather', sans-serif;
  color: #00000b;
}

@media screen and (max-width: 767px) {
  /* line 72, src/scss/_components/blog/_blog.scss */
  .blog__subtitle {
    font-size: 23px;
  }
}

/* line 83, src/scss/_components/blog/_blog.scss */
.blog__date {
  padding-bottom: 30px;
  font-weight: 300;
  font-size: 15px;
  color: #827a70;
}

@media screen and (max-width: 767px) {
  /* line 83, src/scss/_components/blog/_blog.scss */
  .blog__date {
    padding-bottom: 20px;
    font-size: 12px;
  }
}

/* line 95, src/scss/_components/blog/_blog.scss */
.blog__desc p {
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 17px;
  color: #252525;
  line-height: 1.6;
}

@media screen and (max-width: 767px) {
  /* line 95, src/scss/_components/blog/_blog.scss */
  .blog__desc p {
    font-size: 15px;
  }
}

/* line 105, src/scss/_components/blog/_blog.scss */
.blog__desc p strong {
  font-weight: 500;
}

/* line 111, src/scss/_components/blog/_blog.scss */
.blog__quote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  /* line 111, src/scss/_components/blog/_blog.scss */
  .blog__quote {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

/* line 121, src/scss/_components/blog/_blog.scss */
.blog__quote > div:nth-of-type(1) {
  width: 84px;
}

@media screen and (max-width: 767px) {
  /* line 121, src/scss/_components/blog/_blog.scss */
  .blog__quote > div:nth-of-type(1) {
    width: 100%;
    padding-bottom: 10px;
  }
}

/* line 128, src/scss/_components/blog/_blog.scss */
.blog__quote > div:nth-of-type(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 135, src/scss/_components/blog/_blog.scss */
.blog__quote .icon-font {
  font-size: 46px;
  color: #ede9e0;
}

@media screen and (max-width: 767px) {
  /* line 135, src/scss/_components/blog/_blog.scss */
  .blog__quote .icon-font {
    font-size: 23px;
  }
}

/* line 143, src/scss/_components/blog/_blog.scss */
.blog__quote p {
  line-height: 1.6;
  font-size: 17px;
  font-family: 'Merriweather', sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #00000b;
}

@media screen and (max-width: 767px) {
  /* line 143, src/scss/_components/blog/_blog.scss */
  .blog__quote p {
    font-size: 15px;
  }
}

/* line 156, src/scss/_components/blog/_blog.scss */
.blog__media {
  overflow: hidden;
  position: relative;
  height: 555px;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1279px) {
  /* line 156, src/scss/_components/blog/_blog.scss */
  .blog__media {
    height: 375px;
  }
}

@media screen and (max-width: 767px) {
  /* line 156, src/scss/_components/blog/_blog.scss */
  .blog__media {
    height: 170px;
  }
}

/* line 176, src/scss/_components/blog/_blog.scss */
.blog__divider {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #d0cece;
}

/* line 184, src/scss/_components/blog/_blog.scss */
.blog ul,
.blog ol {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

/* line 190, src/scss/_components/blog/_blog.scss */
.blog ul li,
.blog ol li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 195, src/scss/_components/blog/_blog.scss */
.blog ul li > div:nth-of-type(1),
.blog ol li > div:nth-of-type(1) {
  width: 20px;
}

/* line 198, src/scss/_components/blog/_blog.scss */
.blog ul li > div:nth-of-type(2),
.blog ol li > div:nth-of-type(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 205, src/scss/_components/blog/_blog.scss */
.blog ul li p,
.blog ol li p {
  font-weight: 300;
  font-size: 17px;
  color: #252525;
  line-height: 1.6;
}

@media screen and (max-width: 767px) {
  /* line 205, src/scss/_components/blog/_blog.scss */
  .blog ul li p,
  .blog ol li p {
    font-size: 15px;
  }
}

/* line 214, src/scss/_components/blog/_blog.scss */
.blog ul li p a,
.blog ol li p a {
  color: #1155cc;
}

/* line 223, src/scss/_components/blog/_blog.scss */
.blog ul li i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 8px;
  height: 8px;
  margin-top: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #252525;
}

/* line 236, src/scss/_components/blog/_blog.scss */
.blog ol li i {
  font-weight: 300;
  font-size: 17px;
  color: #252525;
  line-height: 1.6;
}

@media screen and (max-width: 767px) {
  /* line 236, src/scss/_components/blog/_blog.scss */
  .blog ol li i {
    font-size: 15px;
  }
}

/*# sourceMappingURL=maps/app.css.map */
