---
title: Paragon | Творчество. Как приходят идеи?

pageClassName: p-blog
headerInnerMod: true
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/blog/_blog-2
