// SECTION :: START

.details {
	padding-top: 60px;
	padding-bottom: 50px;
	@include adaptive(767) {
		padding-top: 20px;
	}

	&__block {
		display: flex;
		flex-direction: column;

		&:hover {
			.details__block {
				&-head {
					img {
						transform: scale(1.05) rotate(2deg);
						@include transition(transform 0.55s);
					}
				}

				&-line {
					&:after {
						width: 33%;
						@include transition(width);
					}
				}
			}
		}

		&-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			> div {
				width: 100%;
				max-width: calc((100% - 20px) / 2);
				padding-bottom: 33px;
				@include adaptive(767) {
					max-width: 100%;
					padding-bottom: 30px;
				}
			}
		}

		&-head {
			overflow: hidden;
			position: relative;
			height: 344px;
			@include adaptive(1024) {
				height: 275px;
			}
			@include adaptive(767) {
				height: 211px;
			}

			img {
				@extend %imageResCoverAbs;
				backface-visibility: hidden;
				transform-origin: center;
				@include transition(transform 0.55s);
			}
		}

		&-body {
			padding-top: 23px;
			@include adaptive(767) {
				padding-top: 15px;
			}
		}

		&-date {
			padding-bottom: 15px;
			font-weight: 300;
			font-size: 13px;
			color: #827a70;
			line-height: 1;
			@include adaptive(767) {
				padding-bottom: 10px;
			}
		}

		&-title {
			padding-bottom: 15px;
			color: #00000b;
			font-size: 28px;
			font-weight: 300;
			font-family: "Merriweather", sans-serif;
			@include adaptive(1365) {
				font-size: 24px;
			}
			@include adaptive(767) {
				font-size: 20px;
			}
		}

		&-desc {
			padding-bottom: 30px;
			color: #252525;
			font-size: 15px;
			font-weight: 300;
		}

		&-line {
			position: relative;
			width: 100%;
			height: 1px;
			background-color: #d0cece;

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 38px;
				height: 2px;
				background-color: #412d12;
				@include transition(width);
			}
		}
	}

	&__pagination {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-left,
		&-right {
			display: flex;
			align-items: center;
			width: 100%;
			max-width: 250px;
			@include adaptive(767) {
				max-width: 85px;
			}
		}

		&-middle {
			display: flex;
			justify-content: center;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
		}

		&-right {
			display: flex;
			justify-content: flex-end;
		}

		&-btn {
			display: flex;
			align-items: center;

			&--num {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 32px;
				height: 32px;
				margin-left: 2px;
				margin-right: 2px;
				border-radius: 50%;
				background-color: transparent;
				@include transition(background-color);

				&:hover {
					span {
						color: #8e7657;
						@include transition(color);
					}
				}

				&.is-active {
					background-color: #ede8e0;
					@include transition(background-color);

					span {
						color: #8e7657;
						@include transition(color);
					}
				}
			}

			&--first,
			&--last,
			&--next,
			&--prev {
				@include adaptive(767) {
					span {
						display: none;
					}
				}

				.icon-font {
					color: #00000b;
					font-size: 12px;
				}

				&.is-disabled {
					pointer-events: none;

					span,
					.icon-font {
						color: #827a70;
					}
				}
			}

			&--first,
			&--prev {
				.icon-font {
					transform: scaleX(-1);
				}
			}

			&--first {
				margin-right: 20px;

				.icon-font {
					&:nth-of-type(2) {
						position: relative;
						left: -7px;
					}
				}
			}

			&--last {
				margin-left: 20px;

				.icon-font {
					&:nth-of-type(1) {
						position: relative;
						right: -7px;
					}
				}
			}

			&--next {
				.icon-font {
					margin-left: 5px;
				}
			}

			&--prev {
				.icon-font {
					margin-right: 5px;
				}
			}

			span {
				color: #00000b;
				font-weight: 300;
				font-size: 14px;
				text-transform: uppercase;
				@include transition(color);
			}
		}
	}
}

// SECTION :: END
