// SECTION :: START

.blog {
	padding-top: 40px;
	padding-bottom: 70px;
	font-family: 'Verdana', sans-serif;
	@include adaptive(767) {
		padding-top: 30px;
		padding-bottom: 50px;
	}

	.c-grid {
		max-width: 1280px;
	}

	&__back {
		display: flex;
		align-items: center;
		margin-bottom: 26px;

		.icon-font {
			color: #00000b;
			margin-right: 5px;
			transform: scale(-1);
			font-size: 12px;
		}

		span {
			color: #00000b;
			font-weight: 300;
			font-size: 14px;
			text-transform: uppercase;
		}
	}

	&__img {
		margin-bottom: 40px;

		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin-left: auto;
			margin-right: auto;
		}

		p {
			padding-top: 10px;
			text-align: center;
			font-weight: 300;
			font-size: 15px;
			color: #252525;
			line-height: 1.6;
			@include adaptive(767) {
				font-size: 13px;
			}
		}
	}

	&__title {
		padding-bottom: 22px;
		font-weight: 300;
		font-size: 36px;
		font-family: 'Merriweather', sans-serif;
		color: #00000b;
		@include adaptive(1365) {
			font-size: 33px;
		}
		@include adaptive(767) {
			font-size: 28px;
		}
	}

	&__subtitle {
		padding-bottom: 16px;
		font-weight: 300;
		font-size: 26px;
		font-family: 'Merriweather', sans-serif;
		color: #00000b;
		@include adaptive(767) {
			font-size: 23px;
		}

		strong {
			font-weight: 600;
		}
	}

	&__date {
		padding-bottom: 30px;
		font-weight: 300;
		font-size: 15px;
		color: #827a70;
		@include adaptive(767) {
			padding-bottom: 20px;
			font-size: 12px;
		}
	}

	&__desc {
		p {
			padding-bottom: 20px;
			font-weight: 300;
			font-size: 17px;
			color: #252525;
			line-height: 1.6;
			@include adaptive(767) {
				font-size: 15px;
			}

			strong {
				font-weight: 600;
			}
		}
	}

	&__quote {
		display: flex;
		align-items: flex-start;
		padding-top: 20px;
		padding-bottom: 40px;
		@include adaptive(767) {
			flex-wrap: wrap;
		}

		> div {
			&:nth-of-type(1) {
				width: 84px;
				@include adaptive(767) {
					width: 100%;
					padding-bottom: 10px;
				}
			}
			&:nth-of-type(2) {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
			}
		}

		.icon-font {
			font-size: 46px;
			color: #ede9e0;
			@include adaptive(767) {
				font-size: 23px;
			}
		}

		p {
			line-height: 1.6;
			font-size: 17px;
			font-family: 'Merriweather', sans-serif;
			font-weight: 300;
			font-style: italic;
			color: #00000b;
			@include adaptive(767) {
				font-size: 15px;
			}
		}
	}

	&__media {
		overflow: hidden;
		position: relative;
		margin-top: 20px;
		margin-bottom: 40px;

		> div {
			overflow: hidden;
			position: relative;
			height: 555px;
			@include adaptive(1279) {
				height: 375px;
			}
			@include adaptive(767) {
				height: 170px;
			}
		}

		iframe,
		img,
		video {
			@extend %imageResCoverAbs;
		}

		p {
			padding-top: 10px;
			text-align: center;
			font-weight: 300;
			font-size: 15px;
			color: #252525;
			line-height: 1.6;
			@include adaptive(767) {
				font-size: 13px;
			}
		}
	}

	&__divider {
		width: 100%;
		height: 1px;
		margin-top: 20px;
		margin-bottom: 30px;
		background-color: #d0cece;
	}

	ul,
	ol {
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;

		li {
			display: flex;
			align-items: flex-start;

			> div {
				&:nth-of-type(1) {
					width: 20px;
				}
				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
			}

			p {
				font-weight: 300;
				font-size: 17px;
				color: #252525;
				line-height: 1.6;
				@include adaptive(767) {
					font-size: 15px;
				}

				a {
					color: #1155cc;
				}
			}
		}
	}

	ul {
		li {
			i {
				display: flex;
				width: 8px;
				height: 8px;
				margin-top: 10px;
				border-radius: 50%;
				background-color: #252525;
			}
		}
	}

	ol {
		li {
			i {
				font-weight: 300;
				font-size: 17px;
				color: #252525;
				line-height: 1.6;
				@include adaptive(767) {
					font-size: 15px;
				}
			}
		}
	}
}

// SECTION :: END
