// SECTION :: START

section#details.details
	.c-grid
		.details__wrapper

			.details__block-wrapper
				div
					a.details__block.details__block-1(href="#")
						.details__block-head
							img(src="img/img-details-1.jpg" srcset='img/img-details-1@2x.jpg' alt="")
						.details__block-body
							p.details__block-date 21.02.2020
							p.details__block-title Астрология Стефана Арройо и целительная сила Космоса
							p.details__block-desc Американский астролог Стефан Арройо родился 6 октября 1946 года. Он активно практикует астрологию и написал ряд книг, в которых изложил своё понимание астрологических принципов через призму практической психологии и оккультизма...
							.details__block-line
				div
					a.details__block.details__block-2(href="#")
						.details__block-head
							img(src="img/img-details-2.jpg" srcset='img/img-details-2@2x.jpg' alt="")
						.details__block-body
							p.details__block-date 21.02.2020
							p.details__block-title Новая книга по мунданной астрологии
							p.details__block-desc В 1910 году английский астролог Роберт Т. Кросс, более известный под псевдонимом Рафаэль, опубликовал брошюру под названием «Мунданная астрология», в которой обобщил известные на то время астрологические методы...
							.details__block-line
				div
					a.details__block.details__block-3(href="#")
						.details__block-head
							img(src="img/img-details-3.jpg" srcset='img/img-details-3@2x.jpg' alt="")
						.details__block-body
							p.details__block-date 21.02.2020
							p.details__block-title Астрология, дизайн и развитие интуиции
							p.details__block-desc Одна из основных целей астрологии, как их определял крупнейший астролог XX века Дэйн Радьяр, — это «гармонизировать хаотичный жизненный опыт» человека. Астрология даёт людям целостное, связное восприятие...
							.details__block-line
				div
					a.details__block.details__block-4(href="#")
						.details__block-head
							img(src="img/img-details-4.jpg" srcset='img/img-details-4@2x.jpg' alt="")
						.details__block-body
							p.details__block-date 21.02.2020
							p.details__block-title Будда Шакьямуни и знак зодиака Телец
							p.details__block-desc Телец — особый знак зодиака для буддизма. В день полнолуния в Тельце (когда Луна в Скорпионе, а Солнце в Тельце) отмечается праздник Весак — день рождения, просветления и ухода в паринирвану Будды Шакьямуни. Символизм этого...
							.details__block-line

		.details__pagination
			.details__pagination-left
				a.details__pagination-btn.details__pagination-btn--first.is-disabled(href="#")
					i.icon-font.icon-corner
					i.icon-font.icon-corner
					span Первая
				a.details__pagination-btn.details__pagination-btn--prev.is-disabled(href="#")
					i.icon-font.icon-corner
					span Предыдущая

			.details__pagination-middle
				a.details__pagination-btn.details__pagination-btn--num.is-active(href="#")
					span 1
				a.details__pagination-btn.details__pagination-btn--num(href="#")
					span 2
				a.details__pagination-btn.details__pagination-btn--num(href="#")
					span 3

			.details__pagination-right
				a.details__pagination-btn.details__pagination-btn--next(href="#")
					span Следующая
					i.icon-font.icon-corner
				a.details__pagination-btn.details__pagination-btn--last(href="#")
					span Последняя
					i.icon-font.icon-corner
					i.icon-font.icon-corner

// SECTION :: END
