// SECTION :: START

section#details.details
	.c-grid
		.details__wrapper

			.details__block-wrapper
				div
					a.details__block.details__block-1(href="/blog.html")
						.details__block-head
							img(src="img/img-details-1.jpg" alt="")
						.details__block-body
							p.details__block-date 05.11.2020
							p.details__block-title Энергоинформационное поле
							p.details__block-desc(less-js) Когда в течении многих жизней человек обретает минимальный духовный опыт и умение управлять своим вниманием, доступ в энергоинформационное поле становится для него врожденной способностью
							.details__block-line
				div
					a.details__block.details__block-2(href="/blog-2.html")
						.details__block-head
							img(src="img/img-details-2.jpg" alt="")
						.details__block-body
							p.details__block-date 05.11.2020
							p.details__block-title Творчество. Как приходят идеи?
							p.details__block-desc(less-js) Процесс создания чего-то принципиально нового и неповторимого - результат тесного сотрудничества созидательного начала человека и пространства
							.details__block-line
				div
					a.details__block.details__block-3(href="/blog-3.html")
						.details__block-head
							img(src="img/img-details-3.jpg" alt="")
						.details__block-body
							p.details__block-date 05.11.2020
							p.details__block-title Энергоинформационное поле человека
							p.details__block-desc(less-js) Физический мир и события в нем - конечный результат трансформации энергии. До тех пор, пока энергия не трансформировалась в материю или какой-то поступок она имеет форму волн определенной частоты
							.details__block-line
				//div
				//	a.details__block.details__block-4(href="#")
				//		.details__block-head
				//			img(src="img/img-details-4.jpg" srcset='img/img-details-4@2x.jpg' alt="")
				//		.details__block-body
				//			p.details__block-date 21.02.2020
				//			p.details__block-title Будда Шакьямуни и знак зодиака Телец
				//			p.details__block-desc Телец — особый знак зодиака для буддизма. В день полнолуния в Тельце (когда Луна в Скорпионе, а Солнце в Тельце) отмечается праздник Весак — день рождения, просветления и ухода в паринирвану Будды Шакьямуни. Символизм этого...
				//			.details__block-line

		.details__pagination.details__pagination--main
			.details__pagination-left
				a.details__pagination-btn.details__pagination-btn--first.is-disabled(href="#")
					i.icon-font.icon-corner
					i.icon-font.icon-corner
					span Первая
				a.details__pagination-btn.details__pagination-btn--prev.is-disabled(href="#")
					i.icon-font.icon-corner
					span Предыдущая

			.details__pagination-middle
				a.details__pagination-btn.details__pagination-btn--num.is-active(href="#")
					span 1
				a.details__pagination-btn.details__pagination-btn--num(href="#")
					span 2
				a.details__pagination-btn.details__pagination-btn--num(href="#")
					span 3

			.details__pagination-right
				a.details__pagination-btn.details__pagination-btn--next(href="#")
					span Следующая
					i.icon-font.icon-corner
				a.details__pagination-btn.details__pagination-btn--last(href="#")
					span Последняя
					i.icon-font.icon-corner
					i.icon-font.icon-corner

// SECTION :: END
