// SECTION :: START

section#main.main

	.main__bg
		img(src="img/img-main-bg.jpg" srcset='img/img-main-bg@2x.jpg 2x' alt="")

	.c-grid
		.main__wrapper

			p.main__title Amicus Plato, Sed Magis Amica Veritas

// SECTION :: END
