// SECTION :: START

section#blog.blog
	.c-grid
		.blog__wrapper

			a.blog__back(href="#")
				i.icon-font.icon-corner
				span Назад

			.blog__img
				img(src="img/img-blog.jpg" srcset="img/img-blog@2x.jpg 2x" alt="")

			p.blog__title Будда Шакьямуни и знак зодиака Телец. Интерпретации учёных и астрологов
			p.blog__date 19.02.2020

			.blog__desc
				p Телец — особый знак зодиака для буддизма. В день полнолуния в Тельце (когда Луна в Скорпионе, а Солнце в Тельце) отмечается праздник Весак — день рождения, просветления и ухода в паринирвану Будды Шакьямуни. Символизм этого события рассматривают и интерпретируют не только последователи Дхармы и астрологи, но и учёные.
				p Востоковед Дмитрий Поповцев в одной из своих книг обратил внимание на то, что учение Будды не является иерархическим. По его мнению, махаянский буддизм больше напоминает «бесконечную сеть отдельных независимых самодостаточных методов достижения конечной цели», то есть освобождения. Неоднократные попытки сделать из буддийских учений единую пирамиду не увенчались успехом. И причина этого в том, что освобождение зависит от ментальности индивида, от конкретного времени и места, потому оно каждый раз уникально. Исходя из этих соображений Поповцев увязывает буддизм со знаком зодиака, в котором родился Будда:

			.blog__quote
				div
					i.icon-font.icon-quotes
				div
					p Буддизм — чрезвычайно земное учение, не случайно сам Шакьямуни был рождён под весьма «земным» знаком Тельца. Он [буддизм] тесно привязан к земле, и всё здание своей изощрённой психологической доктрины он строит на прочном фундаменте наиболее примитивных и глубоких структур психики человека — структур личностного (а не коллективного!) взаимодействия и сосуществования с деревьями, скалами, источниками, а также с «хозяевами» ландшафта — местными демонами, духами и полубогами

			.blog__desc
				p Это взгляд учёного. С точки зрения оккультных наук (к которым относится и астрология), великое достижение Будды состоит в том, что он познал и объяснил человеку природу желания и печальные последствия навязчивого хотения. Одно из базовых буддийских учений сформулировано в виде Четырёх благородных истин. Их суть сводится к тому, что причиной страданий является желание, а способом преодоления желаний и, соответственно, способом прекращения страданий является Восьмеричный путь. А поскольку Телец среди прочего символизирует «желание во всех его фазах», вполне логично и символично, что Будда именно в Тельце познал и победил желание и пришёл к просветлению.

			.blog__video
				iframe(src="https://www.youtube.com/embed/r7FQxw6RZMM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

			.blog__desc
				p В контексте рассуждений о том, что Будда родился под знаком Тельца, любопытна увязка буддийского учения об освобождении от желаний и от колеса сансары с астрологией. Дело в том, что полная практическая реализация буддийских наставлений освобождает не только от желаний, но и от подвластности астрологическим влияниям.

			ul
				li
					div
						i
					div
						p!= "Иллюстрация: <a href='#'>shakyamuni-buddha.jpg</a>"
				li
					div
						i
					div
						p!= "Видео: <a href='#'>youtube.com 1.</a>"

			ol
				li
					div
						i 1.
					div
						p Поповцев Д.В. Бодхисаттва Авалокитешвара. История формирования и развития махаянского культа. — СПб.: Евразия, 2012. — С.26-27.
				li
					div
						i 2.
					div
						p Бейли А. Эзотерическая астрология. – Навна-3, 2002. – С.172, 303, 304.
				li
					div
						i 3.
					div
						p 3. Бейли А. Трактат о белой магии, или Путь ученика. — М., 2005. — С.255

			.blog__divider

			.details__pagination
				.details__pagination-left
					a.details__pagination-btn.details__pagination-btn--prev(href="#")
						i.icon-font.icon-corner
						span Предыдущая запись

				.details__pagination-middle

					.social
						a(href="#")
							i.icon-font.icon-facebook
						a(href="#")
							i.icon-font.icon-twitter

				.details__pagination-right
					a.details__pagination-btn.details__pagination-btn--next(href="#")
						span Следующая запись
						i.icon-font.icon-corner

// SECTION :: END
